* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
strong {
  color: hsl(160, 100%, 30%);
}

h1,
h2,
p {
  color: hsla(0, 0%, 0%, 1);
}

h1,
h2 {
  line-height: 1.2;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;

  margin-top: 0px;
  margin-bottom: 0px;
}

p:not(:last-child) {
  /* using `rem` to account for zooming a11y feature to scale bottom margin with font */
  margin-bottom: 1rem;
}

header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

header > .max-width-wrapper {
  /* padding-top: 72px;
  padding-bottom: 40px; */
}

.intro-chunk,
.card {
  padding: 24px;
}

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}

main {
  background-color: hsla(0, 0%, 40%, 1);
}

main > .max-width-wrapper {
  padding-top: 64px;
  padding-bottom: 66px;
}

.title {
  margin-top: 0px;
  margin-bottom: 48px;
}

.card {
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);

  /* padding-top: 64px;
  padding-bottom: 66px; */
}

.indented-heading {
  background-color: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);

  margin-top: -16px;
  /* using `rem` to account for zooming a11y feature to scale bottom margin with font */
  margin-bottom: 1rem;
  margin-left: -32px;
  padding: 16px 32px;
  width: fit-content;
}
